@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size-adjust: 100%;
    font-family: 'poppins';
    scrollbar-width: thin;
    scroll-padding: 0 1.4rem;
}

a{
    text-decoration: none;
    color: inherit;
}

p,span{
    font-size: .9em;
    font-weight: 350;
}

ul,li{
    list-style-type: none;
}

body{
    padding-top: 58px;
    height: 100vh;
    font-optical-sizing: on;
    scroll-behavior: smooth;
    transition: .5s ease-in-out;
}

.padding{
    padding: 15px 4%;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    top: 0;
    width: 100vw;
    z-index: 5;
    background-color: rgba(253, 253, 253, 0);
    transition: backgroun-color .4s ease-in-out;
}

.scrolled{
    background: #fff;
    border: none;
}


.logo img{
    display: inline-block;
    max-width: 3rem;
    max-height: 3rem;
    filter: brightness(.4);
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: on;
    font-size: 1em;
    text-transform: capitalize;
}

.header-first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-list input{
    display: none;
}

.nav-list button{
    display: none;
}

.nav-list p{
    display: none;
}

.nav-list li a{
    width: 100%;
    transition: .15s ease-in-out;
}

.nav-list li a:hover{
    transform: scale(20px);
}

#bar{
    display: none;
}

#close{
    display: none;
}

.nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    cursor: pointer;
    transition: all .3s;
}

.bag{
    position: relative;
    padding: .2rem;
    display: inline-block;
}

.bag i{
    font-size: 2em;
}

.bag span{
    position: absolute;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 1px;
    width: 20px;
    height: 20px;
    font-size: .7em;
    border-radius: 50px;  
    color: #fff;
    background: rgb(244, 32, 32);
}

.nav-icons button{
    background-color: #000;
    color: #ffffff;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.nav-icons button:hover{
    color: #000;
    background-color: gray;
}

::selection{
    color: hsl(134, 33%, 23%);
}

.intro{
    display: flex;
    width: 100%;
    padding: 20px 0 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .4s ease-in-out;
}

.intro h1{
    font-weight: 400;
    font-size: 3.5em;
    letter-spacing: .9rem;
}

.hero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    height: 600px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 1.1;
}

.hero-content:first-child{
    background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)), url(/bg/BG\ 1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content:nth-child(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)), url(/bg/Bg\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content{
    gap: .5rem;
}

.hero-content p{
    font-weight: 400;
}

.hero-content h4{
    font-weight: 600;
    font-size: 1.5em;
}

.hero-content button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.hero-content button:hover{
    transform: scale(.9);
    background-color: rgb(189, 189, 164);
}

.main{
    margin: 2rem 0;
    padding: 1rem 0;
}

.main h4{
    display: inline-flex;
    padding: 1rem;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
}

.swiper-cat{
    cursor: pointer;
}

swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 400px;
    font-size: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
  }

  .swiper-des{
    position: relative;
    width: 100%;
    text-transform: uppercase;
    background-color: #fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem .5rem;
  }

  .swiper-des a{
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 2rem;
  }

  .section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4%;
    transition: .5s ease-in-out all;
}

.section-card{
    position: relative;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-end;
    transition: inherit;
    margin-bottom: 1rem;
}

.section-details{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: inherit;
    margin: .5rem 0 .4rem;
    padding: .8rem;
    row-gap: .5rem;
}

.section-details h1{
    text-transform: uppercase;
    transition: .4s ease-in-out all;
}

.section-details > p > span{
    font-weight: 400;
}

.section-card button{
    font-weight: 600;
    padding: .7rem 2rem;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    transition: .2s ease-in-out;
}


.section-card img{
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .6s ease-in-out all;
}


.activities{
    padding: 15px 5%;
}

.activities-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
}

.act-col{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.act-col span i{
    background-color: rgba(0, 0, 0, 0.057);
    color: #000000cc;
    padding: 1.3rem;
    font-size: 1.5em;
    border-radius: .2rem;
}

.act-col-des{
    font-size: .9em;
    line-height: 1.2;
}

.act-col-des h4{
    font-size: .9em;
    font-weight: 600;
}

.sect{
    margin: 1rem 0;
    box-sizing: border-box;
    text-align: center;
    transition: .4s all;
}

.sect h2{
    font-weight: 600;
    font-size: 1.6em;
    color: #000000b0;
}

.sect-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    margin-bottom: .5rem;
}

.sect-card{
    width: 23%;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.sect-card img{
    display: inline-block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: .4s ease;
}

.sect-card:hover >img{
    transform: scale(1.01);
    filter: brightness(.9);
}

.sect-card a{
    font-weight: 600;
    font-size: 1.06em;
    text-decoration: underline;
}


.discount{
    margin: 1rem 0;
    transition: .4s ease-in-out;
}

.height{
    height: 400px;
}

.discount-col{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgb(42, 42, 42);
    transition: .4s ease-in-out;
}

.discount-card{
    display: flex;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(rgba(165, 87, 42, 0.162), rgba(165, 95, 42, 0.664)), url(/bg/discount.png);
    transition: .4s ease-in-out;
}

.discount-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: .6rem;
    color: #fff;
}

.discount-box h3{
    line-height: 34px;
    font-size: 2em;
    font-weight: 500;
    padding: .5rem 0;
}

.discount-box p{
    padding: 0 0 .3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.discount-box button{
    padding: .6rem 1rem;
    border: none;
    transition: .15s ease-in-out all;
    text-transform: uppercase;
    cursor: pointer;
}

.discount-box button:hover{
    background-color: bisque;
}

.feedback{
    margin: 1rem 0;
}

.feedback h4{
    text-align: center;
    padding: .8rem 0;
    font-size: 1.3em;
    transition: .3s ease-in-out;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.slide{
    height: 300px;
    padding: 1rem .5rem;
    box-shadow: 2px 5px 5px 4px rgba(123, 123, 123, 0.247);
    border-radius: .7rem;
    position: relative;
    transition: .3s ease-in-out;
}

.slide:hover{
    transform: scale(.95);
}
.slide .bxs-quote-right{
    position: absolute;
    top: 1rem;
    right: .5rem;
    font-size: 1.8em;
    color: #0c0202d1;
}
.slide .reviews{
    line-height: 1.15;
    padding: .6rem 0;
}
.slide .reviews h5{
    font-size: 1.3em;
    font-weight: 400;
}
.slide .reviews span{
    font-size: .8em;
    font-weight: 600;
}
.slide p{
    font-size: .9em;
    font-weight: 400;
}

.accordion {
      margin: 2rem auto;
    }

    .accordion h4{
        text-align: center;
        font-size: 1.5em;
        font-weight: 800;
    }
    
    .accordion-item {
      background-color: #fff;
      color: #111;
      margin: 1rem 0;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.194);
    }
    
    .accordion-item-header {
      padding: 0.5rem 3rem 0.5rem 1rem;
      min-height: 3.5rem;
      line-height: 1.25rem;
      display: flex;
      position: relative;
      cursor: pointer;
    }
    
    .accordion-item-header::after {
      content: "\002B";
      font-size: 1.5rem;
      position: absolute;
      right: 1rem;
    }
    
    .accordion-item-header.active::after {
      content: "\2212";
    }
    
    .accordion-item-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    
    .accordion-item-body-content {
      padding: 1rem;
      line-height: 1.5rem;
      border-top: 1px solid;
      border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
    }

    .about{
        text-align: center;
        margin: 1rem 0 0;
        transition: .4s ease-in-out;
    }

    .about-image{
        display: flex;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin: auto;
        width: 300px;
        height: 300px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.194);
        transition: .4s ease-in-out;
    }

    .about-image img{
        display: block;
        width: 300px;
        object-fit: cover;
        object-position: center;
    }

    .about h4{
        text-align: center;
        font-size: 1.3em;
        padding: .5rem 0;
        transition: .3s ease-in-out;
    }

    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        transition: .4s ease-in-out;
        padding: 1rem 0 .5rem;
    }

    .about a{
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        position: relative;
        isolation: isolate;
        padding-bottom: 1px;
    }

    .about a::after{
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        background-color: #0f0f0f;
        transition: .2s linear;
    }

    .about a:hover::after{
        width: 100%;
    }

    .about-details{
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .7rem;
    }

    .about-details h5{
        font-size: 1.4em;
    }

    .about-details p{
        letter-spacing: 2px;
        font-size: 1.3em;
    }

  .subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #0f0f0f;
    background-color: #eaeaea;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .subscribe-content{
    width: 100%;
    text-align: center;
    padding: .5rem;
  }

  .sub-bar{
    position: relative;
  }
  .sub-bar input{
    border: none;
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: .3rem;
    outline: none;
    width: 300px;
    padding: .62rem 1rem;
    margin: .6rem .2rem;
    display: inline-flex;
  }

  .sub-bar input:focus{
    outline: 3px solid rgb(32, 198, 176);
  }

  ::placeholder{
    color: #252424;
  }

  .sub-bar button{
    padding: .69rem;
    background-color: #1c1b1b;
    color: #eaeaea;
    border: none;
    border-radius: .5rem;
    font-size: .9em;
    cursor: pointer;
  }

  .socials{
    display: flex;
    justify-content: center;
    gap: .6rem;
  }

  .socials i{
    font-size: 2em;
    transition: .2s ease-in-out all;
    gap: .7rem;
  }

  .socials i:hover{
    transform: scale(1.1);
  }

  .footer{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #eaeaea;
  }

  .footer-logo{
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .footer-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .footer-col{
    display: inline-flex;
    max-width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-list li a:hover{
    text-decoration: underline;
  }

  .footer-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
  }

  .footer-about article {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .footer-about article a{
    align-items: center;
    font-size: 2em;
  }

  marquee{
    padding: .2rem 0;
  }

@media (max-width: 1168px){
    .intro h1{
        font-size: 2.5em;
    }
}


@media (max-width: 1024px){
    .padding{
        padding: 10px 3%;
    }

    .intro h1{
        font-size: 2.8em;
        letter-spacing: .6rem;
    }
}

@media (max-width: 926px){
    .intro h1{
        font-size: 2em;
        line-height: 1.15;
    } 
}


@media (max-width: 834px){
    .logo a{
        font-size: 1em;
    }

    .nav-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #ffffff;
        backdrop-filter: blur(20px);
        right: -100%;
        padding: 5.6rem 0 4rem;
        top: 0;
        z-index: 6;
        padding-inline: 1.5rem;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        transition: .15s ease;
        box-sizing: border-box;
    }

    .active{
        right: 0;
    }

    .nav-list li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: .6rem .5rem 0;
    }

    .nav-list li a{
        position: relative;
        isolation: isolate;
        padding-bottom: .3rem;
    }

    .nav-list li a:hover{
        transform: scale(20px);
        color: rgba(0, 0, 0, 0.76);
    }

    .nav-list li a::after{
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, .4);
        height: 2px;
        width: 0;
        left: 0;
        border-radius: 3rem;
        transition: .3s ease;
        bottom: 0;
    }

    .nav-list li a:hover::after{
        width: 100%;
    }

    .nav-list button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 2rem;
        padding: .8rem .4rem;
        border: none;
        text-transform: capitalize;
        text-align: center;
        border-radius: 1rem;
        background-color: #eaeaea;
        transition: .15s ease;
    }

    .nav-list button:hover{
        background-color: rgba(0, 0, 0, .4);
    }

    .nav-list p{
        display: block;
        font-size: .8em;
    }

    #bar{
        display: flex;
        top: 3%;
    }

    #bar i{
        font-size: 2em;
    }

    #bar:active{
        background-color: rgba(0, 0, 0, .4);
    }

    #close{
        display: block;
        position: absolute;
        top: 1%;
        text-align: center;
        padding: .3rem;
        right: 4%;
        cursor: pointer;
    }

    #close:active{
        background-color: rgba(0, 0, 0, .4);
    }

    #close i{
        font-size: 2em;
        text-size-adjust: 100%;
    }

    .nav-icons button{
        display: none;
    }

    .nav-icons p i{
        font-weight: 400;
    }

    .nav-icons p i:hover{
        transform: scale(1.1);
    }

    .intro h1{
        font-size: 2em;
        letter-spacing: 1px;
        padding-inline: 0;
    }

    .sect-card{
        width: 48%;
    }

    .section-card{
        flex-wrap: wrap;
    }

    .about-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-details{
        text-align: center;
    }
    
}

@media (max-width: 768px){
    .padding{
        padding: 10px 2%;
    }

    .intro h1{
        font-size: 1.8em;
        letter-spacing: .4rem;
    }

    .sect-card{
        width: 47%;
    }

    .section-card img{
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .footer-row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }  
}

@media (max-width: 668px){
    .intro h1{
        font-size: 1.5em;
        letter-spacing: .1rem;
    }

    .section-card{
        grid-template-columns: repeat(1, 1fr);
    }

    .section-card img{
        width: 100%;
    }

    .section-details{
        padding: 0;
    }

    .discount-col{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .discount-card{
        height: 40vh;
    }

    .discount-content{
        height: 35vh;
        position: relative;
        width: 100%;
    }
}

@media (max-width: 480px){
    .intro{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        text-align: center;
    }
    .intro h1{
        font-size: 1.5em;
        line-height: 24px;
        letter-spacing: normal;
    }

    .hero{
        padding-inline: 0;
    }

    .brand h1{
        font-size: 1.3em;
    }

    .brand p{
        text-transform: lowercase;
        font-size: .9em;
    }

    .sect{
        padding-inline: 1rem 2%;
    }

    .sect-card{
        width: 45%;
        padding: 0;
    }

    .section-details{
        padding: .2rem 0;
        line-height: 24px;
    }

    .section-details button{
        margin: .2rem 0 0;
        padding: .5rem 2rem;
    }

    .section-details img{
        width: 100%;
        display: block;
        border-radius: none;
    }

    .discount{
        padding-inline: 0;
    }

    .height{
        height: 30vh;
    }

    .feedback h4{
        font-size: 1.2em;
        letter-spacing: 2px;
        line-height: 1;
    }

    .faq-content{
        font-size: .9em;
    }

    .about-details p{
        font-size: 1em;
        letter-spacing: normal;
    }
    
    .sub-bar button{
        position: absolute;
        top: .55rem;
        right: 3%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-align: center;
        width: 30%;
    }

    .accordion h4{
        font-size: 1.3em;
    }

    .footer-list li a{
        font-size: .9em;
    }

    .footer-about{
        font-size: .9em;
    }
}

@media (max-width: 330px){
    .intro h1{
        font-size: 1.5em;
        line-height: 24px;
        letter-spacing: 5px;
    }

    .sect-card{
        width: 100%;
    }

    .activities{
        padding: 15px 2%;
    }

    .discount-box h3{
        font-size: 1.5em;
    }

    .discount-box button{
        padding: .3rem .7rem;
        font-size: .8em;
    }
}

@media (max-width: 290px){
    .swiper-content button{
        display: inline-block;
        width: 80%;
        padding: .5rem .3rem;
      }

      .sect button{
        display: flex;
        width: 100%;
        justify-content: center;
      }
}
